<div>
  <h2 class="text-center mt-5">{{question}}</h2>
  <p>Yes:{{yes}}</p>
  <p>No:{{No}}</p>
  <form method="post" action="/question/{{id}}" >
    <div>
      <input type="submit" class="btn btn-primary mr-5" value="yes" name="yes">Yes</input>
    </div>
    <div>
      <input type="submit" class="btn btn-danger" value="no" name="no">No</input>
    </div>
  </form>

  <form action="/api/question/{{id}}" method="post">
    <div>
      <input type="submit" class="btn btn-primary" value="like" name="like" >Like</input>
    </div>
  </form>
</div>
